{% extends 'base.html' %}

{% block content %}
	<div class="card mb-2">
		<h3 class="card-header bg-pre-pink text-white">{{ tutorial.title }}</h3>
		<div class="card-body">
			{% for tag in tutorial.category.all %}
				<label for="" class="btn-sm bg-info text-white">{{ tag.name }}</label>
			{% endfor %}
			<br>
			<p>{{ tutorial.description }}</p>
			☆×<label for="">{{ tutorial.star }}</label>
			<p>{{ tutorial.url | urlize }}</p>
			<p>{{ tutorial.created_at }}</p>
		</div>
	</div>

	<br>
	{% for comment in tutorial.comment_set.all %}
	<div class="card">
		<div class="card-body">
			<h6 class="card-subtitle mb-2 text-muted">{{ comment.name }}</h6>
			<p class="card-text">
				{{ comment.text }}
			</p>
		</div>
	</div>
	{% endfor %}

	<form action="" method="POST">
		{{ form.non_field_errors }}
		{% for field in form %}
			<div class="form-group">
				<label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
				{{ field }}
				{{ field.errors }}
			</div>
		{% endfor %}
		{% csrf_token %}
		<button type="submit" class="btn btn-primary">コメント投稿</button>
	</form>
{% endblock %}