.hero {
  background-image: url("../img/hero.jpg");

  h1 {
    color: white;
  }
  p {
    color: white;
  }
  .my-2 {
    color: white !important;
  }
}

.bg-main-pink {
  background-color: #F08080;
}

.bg-pre-pink {
  background-color: #E07070;
}